/************************************
** ブログカードのスタイル
************************************/
.blog-card{
  padding:12px;
  margin:20px 0;
  border:1px solid #ddd;
  word-wrap:break-word;
  max-width:100%;
  width:474px;
  border-radius:5px;
  position:relative;
}

.blog-card img{
  border:0;
}

.blog-card-thumbnail{
  float:left;
}

.blog-card-content{
  margin-left:110px;
  line-height:120%;
}
.blog-card-title{
  margin-bottom:5px;
}

.blog-card-title a{
  font-weight:bold;
  text-decoration:none;
  color:#111;
}

.blog-card-excerpt{
  color:#333;
  font-size:90%;
}

.blog-card-footer{
  font-size:70%;
  color:#777;
  clear:both;
}

.blog-card-site{
  float:right;
}

.blog-card-site a{
  color:#777;
  text-decoration:none;
  position:relative;
  top:-3px;
}

.blog-card-favicon{
  margin-right:3px;
}

.blog-card-favicon-img{
  width:16px;
  height:16px;
}

/* IE10以降 */
@media all and (-ms-high-contrast:none){
  .blog-card-favicon {
    display:none;
  }
}

.blog-card-hatebu{
  margin-left:10px;
}

/*ブログカード表記*//*
.blog-card:after {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 0 5px;
  color: rgba(255, 255, 255, 1);
  content: "Blogcard";
  display: block;
  font-size: 0.8em;
  height: 1.7em;
  padding: 0 5px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 60px;
  z-index: 1;
}
*/
.clear{
  clear:both;
}

@media screen and (max-width:524px){
  .blog-card{width:auto;}
}